.leaflet-popup {
    border-radius: 12px;
    padding: 2px;
    background-image: linear-gradient(rgb(253, 186, 116), rgb(253, 164, 175));
    filter: brightness(120%);
}

.leaflet-popup:hover {
    box-shadow: 0px 0px 12px 3px rgb(253, 164, 175);
}

.leaflet-popup-tip {
    background-color: rgb(253, 164, 175);
}